img{
  
    width: 290px;
    height: 265px;
    border-radius: 5px;
}
.container{
    max-width: 75%;
    margin: 0 auto 36px auto;
}
hr{
    border: 1px solid #F5F5F5;
    margin: 18px auto;
}
.sec-exp{
    display: flex;
}
.sec-info{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    justify-content: center;
    gap: 20px;
}
.loc-ico{
    width: 9px;
    height: 12px;
    margin-right: 4px;

}
.sec-location{
    display: flex;
}
.country{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.24px;
    line-height: 12px;
    letter-spacing: 0.17em;

    color: #2B283A;
}
.map{
    font-size: 12px;
    text-decoration-line: underline;
    color: #918E9B;
    margin-left: 12px;
}
.title{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #2B283A;

}

.date{
    font-weight: 700;
    font-size: 13.24px;
    line-height: 12px;    
    color: #2B283A;
}
.description{
    font-size: 18px;
    line-height: 150%;
    color: #2B283A;
    max-width: 560px;
}

@media (max-width:600px) {
    .container{
        max-width: 100%;
        margin:  0;
    }
    .description{
        font-size: 14px;
        text-align: justify;
    }
    .sec-exp {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    img{
        width: 290px;
        height: 295px;
    }
    .sec-info {
      
        margin: 0px auto;
        max-width: 68%;
        gap: 13px;
    }
    .title{
        font-size: 23px;
    }
    .date{font-size: 11px;
    }
}
