.nav-bar{
    height: 70px;
    background: #F55A5A;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.world-ico{
    width: 24px;
    height: 24px;

}
.nav-title{
 
    font-size: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
    padding: 10px;
}